baslik{
    text-align: left;
    color:black;
    font-size:32px;
    font-weight:bold;
    font-family:Times New Roman;
   
}
 yazi {
    text-align: left;
    color:rgb(71, 62, 50);
    font-size:28px;
   
    
    font-family:Times New Roman;
}
 body {background-color:rgb(224, 151, 67);}

li{
    text-align: left;
   
}

#ortalama {
    text-align: center;
    background-color: rgb(240, 240, 147);
    display:inline-block;
  }
