baslik{
    text-align: center;
    color:black;
    font-size:40px;
    font-weight:bold;
    font-family:Times New Roman;
}
 yazi {
     text-align: left;
    color:rgb(219, 197, 170);
    font-size:32px;
    
    font-family:Times New Roman;
}
 body {background-color:rgb(224, 151, 67);}
li{
    text-align: left
    color:rgb(219, 197, 171);
    font-size:32px;	
}

ortalama {
    text-align: center;
    background-color: red;
  }
